
Plugins>fairSIM, "reconstruct image", org.fairsim.fiji.FairSim_ImageJplugin_3d("reconstruct")
Plugins>fairSIM, "reconstruct image (w. new machine def.)", org.fairsim.fiji.FairSim_ImageJplugin_3d("reconstruct-new")

Plugins>fairSIM>Machine, "edit machine file", org.fairsim.fiji.FairSim_ImageJplugin_3d("define-machine-edit")
Plugins>fairSIM>Machine, "create new machine file", org.fairsim.fiji.FairSim_ImageJplugin_3d("define-machine-new")
Plugins>fairSIM>2D (vers.1), "new reconstruction", org.fairsim.fiji.FairSim_ImageJplugin("new-nolog")
Plugins>fairSIM>2D (vers.1), "new reconstruction (w. log)", org.fairsim.fiji.FairSim_ImageJplugin("new-log")
Plugins>fairSIM>2D (vers.1), "load reconstruction", org.fairsim.fiji.FairSim_ImageJplugin("load-nolog")
Plugins>fairSIM>2D (vers.1), "load reconstruction (w. log)", org.fairsim.fiji.FairSim_ImageJplugin("load-log")
Plugins>fairSIM, "about / citation / license", org.fairsim.fiji.FairSim_ImageJplugin("about")
