Plugins>fairSIM, "new reconstruction", org.fairsim.fiji.FairSim_ImageJplugin("new-nolog")
Plugins>fairSIM, "new reconstruction (w. log)", org.fairsim.fiji.FairSim_ImageJplugin("new-log")
Plugins>fairSIM, "load reconstruction", org.fairsim.fiji.FairSim_ImageJplugin("load-nolog")
Plugins>fairSIM, "load reconstruction (w. log)", org.fairsim.fiji.FairSim_ImageJplugin("load-log")
Plugins>fairSIM, "about / citation / license", org.fairsim.fiji.FairSim_ImageJplugin("about")
Plugins>fairSIM>more, "display current image w. fairSIM viewer", org.fairsim.fiji.TestImageDisplay("")
Plugins>fairSIM>more, "simulate SIM image (2-beam)", org.fairsim.fiji.SimPatternSimulator("")
Plugins>fairSIM>more, "create bead surface", org.fairsim.fiji.BeadsCreator("")
Plugins>fairSIM>more, "convert OTF file (txt to fairSIM xml)", org.fairsim.fiji.OtfFromTextFile("")

