

Plugins>fairSIM, "new reconstruction", org.fairsim.fiji.FairSim_ImageJplugin("new-nolog")
Plugins>fairSIM, "new reconstruction (w. log)", org.fairsim.fiji.FairSim_ImageJplugin("new-log")
Plugins>fairSIM, "load reconstruction", org.fairsim.fiji.FairSim_ImageJplugin("load-nolog")
Plugins>fairSIM, "load reconstruction (w. log)", org.fairsim.fiji.FairSim_ImageJplugin("load-log")
Plugins>fairSIM, "about / citation / license", org.fairsim.fiji.FairSim_ImageJplugin("about")
